Zaidejas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xs:schema [
        <!ELEMENT xs:schema (xs:element|xs:complexType)*>
        <!ATTLIST xs:schema
                attributeFormDefault CDATA #REQUIRED
                elementFormDefault CDATA #REQUIRED
                xmlns:xs CDATA #REQUIRED>
        <!ELEMENT xs:element (#PCDATA)>
        <!ATTLIST xs:element
                name CDATA #REQUIRED
                type CDATA #REQUIRED>
        <!ELEMENT xs:complexType (xs:sequence)*>
        <!ATTLIST xs:complexType
                name CDATA #REQUIRED>
        <!ELEMENT xs:sequence (xs:element)*>
        ]>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Gamer" type="GamerType"/>
  <xs:complexType name="GamerType">
    <xs:sequence>
      <xs:element type="xs:string" name="Name"/>
      <xs:element type="xs:string" name="Surname"/>
      <xs:element type="xs:string" name="FavGame"/>
      <xs:element type="xs:string" name="FavGenre"/>
      <xs:element type="xs:string" name="Age"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>




